:root {
    /* Primary Colors */
    --primary-color: rgb(248, 228, 190);
    --primary-color-translucent: rgba(248, 228, 190, 0.911);
    --background-gradient-start: #414345;
    --background-gradient-end: #232526;
    --background-overlay: rgba(20, 20, 20, 0.2);

    /* Text Colors */
    --text-color: var(--primary-color-translucent);
    --text-color-dark: #333;
    --text-color-light: #fff;

    /* Shadow Colors */
    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow-color-light: rgba(0, 0, 0, 0.2);

    /* Navbar Colors */
    --navbar-item-color: #aaa;
    --navbar-item-hover-color: #fff;
}

/* Dark Mode Overrides */
body.dark-mode {
    --primary-color: #1a1a1a;
    --primary-color-translucent: rgba(26, 26, 26, 0.9);
    --background-gradient-start: #232526;
    --background-gradient-end: #414345;
    --background-overlay: rgba(255, 255, 255, 0.2);
    --text-color: #f0f0f0;
    --text-color-dark: #ccc;
    --text-color-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --navbar-item-color: #ccc;
    --navbar-item-hover-color: #fff;
}

/* Existing CSS, replacing color values with variables */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background-gradient-end);
    background: -webkit-linear-gradient(
        to right,
        var(--background-gradient-start),
        var(--background-gradient-end)
    );
    background: linear-gradient(
        to right,
        var(--background-gradient-start),
        var(--background-gradient-end)
    );
    overflow-x: hidden;
    position: relative;
    font-size: 100%;
}

.top-box {
    position: relative;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    text-align: center;
    z-index: 3;
    transition: transform 0.5s ease-in-out;
}

.header {
    height: 10svh;
    line-height: 10svh;
    font-size: calc(3rem - 1svh);
    text-align: center;
}

.welcome-text {
    margin: 0;
    padding: 0;
}

.about-m-wrapper {
    display: none;
}

.hidden-content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.about-bar-content .about-text {
    color: #333;
    font-size: 1.5rem;
}

.action-button-wrapper {
    position: absolute;
    transform: translateY(-50%);
    animation: bounce 1s infinite ease-in-out;
}

.about {
    top: 51%;
    right: 10%;
}

.home {
    top: 51%;
    left: 10%;
}

.action-button {
    color: var(--text-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 3;
    background: none;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.action-button:hover {
    transform: scale(1.2);
}

.action-button:active {
    transform: scale(0.9);
    box-shadow: none;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-70%);
    }
    50% {
        transform: translateY(-50%);
    }
}

.about-img {
    position: relative;
    height: auto;
    width: 20svw;
    right: 70%;
    border-radius: 30%;
}

.about-title-wrapper {
    position: absolute;
    top: 35%;
    left: 55%;
}

.about-title {
    font-size: 2rem;
    color: var(--text-color);
    transform: translateY(-100%);
}
.about-title.animated {
    animation: title-anim 1s linear forwards;
}

@keyframes title-anim {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.about-title.reverse {
    animation: about-title-reverse 1s linear forwards;
}

@keyframes about-title-reverse {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-200%);
    }
}

.about-underline {
    position: absolute;
    top: 70%;
    left: 0;
    height: 0.3svh;
    background-color: var(--text-color);
    width: 0;
    transition: width 1.5s ease-in-out;
}

.about-title-wrapper.active .about-underline {
    width: calc(100% + 50%);
}

.about-title-underline.reverse {
    animation: underline-reverse 1s linear forwards;
}

@keyframes underline-reverse {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.about-bar-wrapper {
    position: absolute;
    top: 45%;
    left: 55%;
    width: 40%;
    margin-top: 1%;
}

.about-text {
    font-size: 1rem;
    color: var(--text-color);
    transform: translateY(200%);
}

.about-text.animated {
    animation: about-text-anim 1s linear forwards;
}

@keyframes about-text-anim {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

.about-text.reverse {
    animation: about-text-reverse 1s linear forwards;
}

@keyframes about-text-reverse {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200%);
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100svw;
}
/* Carousel Styles */
.carousel-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100svw;
    overflow: hidden;
    height: 75svh;
    background-color: var(--background-overlay);
}

.carousel-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-title-line-1 {
    height: 0.3svh;
    background-color: var(--text-color);
    width: 50svw;
}

.carousel-title-line-2 {
    height: 0.3svh;
    background-color: var(--text-color);
    width: 50svw;
    display: none;
}

.carousel-title {
    color: var(--text-color);
    font-size: 2rem;
    margin: 5%;
}

.carousel {
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px var(--shadow-color);
    height: 35svh;
    width: 35svw;
    max-width: 40svw;
    transition:
        transform 0.3s ease,
        z-index 0s ease,
        opacity 0.3s ease;
    opacity: 1;
    position: absolute;
    user-select: none;
}

.carousel-img {
    display: flex;
    justify-content: center;
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.proj-name {
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 200%;
    color: var(--text-color);
    margin-top: auto;
    background: #000000c2;
    width: 100%;
    height: 20%;
}

/* Active Card */
.card[data-position='0'] {
    transform: translateX(0) scale(1.2);
    opacity: 1;
    z-index: 10;
}

/* Right Card */
.card[data-position='1'] {
    transform: translateX(100%) scale(0.6);
    opacity: 0.5;
    z-index: 5;
}

/* Left Card */
.card[data-position='-1'] {
    transform: translateX(-100%) scale(0.6);
    opacity: 0.5;
    z-index: 5;
}

/* Off-Screen Cards */
.card:not([data-position='0']):not([data-position='1']):not(
        [data-position='-1']
    ) {
    transform: translateX(200%);
    opacity: 0;
    z-index: 1;
}

/* Hover Effects */
.card:hover {
    opacity: 1;
}

/* Bottom Section */

.bottom-panel {
    height: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    flex-grow: 1;
}

.tech-box {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.titleLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tech-title {
    color: var(--text-color);
    font-size: 2rem;
    margin: 5%;
}

.tech-title-line {
    height: 0.1svh;
    background-color: var(--text-color);
    width: 50%;
    margin: 5%;
    margin-left: 0%;
}

.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icons-box {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.452);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.tech-list-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.tech-item {
    flex: 0 0 30%;
    margin: 1.5%;
    box-sizing: border-box;
    text-align: center;
    fill: var(--text-color);
}

.tech-item:hover {
    transform: scale(1.2);
}

.tech-name {
    color: var(--text-color);
    margin-top: 3%;
    font-size: 1rem;
}

.svg {
    width: 50%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.hidden {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .top-box {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .action-button-wrapper {
        display: none;
    }

    .intro-header {
        display: flex;
        height: 100svh;
        width: 100svw;
        flex-grow: 1;
    }

    .hidden-content {
        display: none;
    }

    .about-m-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 100svw;
        height: 100svh;
        flex-grow: 1;
    }

    .about-title-wrapper-m {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-title-m {
        margin: 0 5% 0 5%;
        font-size: 2rem;
        color: var(--text-color);
    }
    .about-line-m {
        height: 0.3svh;
        width: 25svw;
        background: var(--text-color);
    }

    .about-img-m {
        height: 20svw;
        width: 50svw;
    }

    .about-text-wrapper-m {
        padding: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-text-m {
        margin: 5%;
        padding: 5%;
        border-color: var(--text-color);
        border-left: 1px solid;
        font-size: 1rem;
        color: var(--text-color);
    }

    .carousel-box {
        height: 100%;
    }

    .carousel-title {
        font-size: 2rem;
    }

    .carousel-title-line-1 {
        width: 25svw;
    }
    .carousel-title-line-2 {
        display: block;
        width: 25svw;
    }

    .carousel {
        width: 100svw;
        height: 65svh;
    }

    .card[data-position='0'] {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 10;
    }

    .card {
        width: 60%;
        height: 80%;
        max-width: 60%;
    }

    .proj-name {
        font-size: 2rem;
    }

    .tech-box {
        width: 90%;
    }

    .tech-icons-box {
        width: 80%;
    }

    .tech-title-line {
        width: 25svw;
        background-color: var(--text-color);
        height: 0.3svh;
        margin: 0;
    }

    .svg {
        width: 10svw;
    }

    .tech-name {
        font-size: 3svw;
    }
}
